<div ng-controller="MainCtrl">
    <div class="teaser">
      <h1>Start the pairing engines...</h1>
      <p>Add your pairing partner here and start your pairing right now!</p>
    </div>

  <div class="add_participants">
    <input type="text" maxlength="20" ng-placeholder="Bernd the bread" ng-model="participant" class="input-medium search-query">
    <button class="btn" ng-click="addPairingPartner()">Come in!</button>
  </div>

  <div class="start_pairing">
    <button class="btn btn-large btn-block btn-primary" ng-click="playBingo()">Bingo!</button>
  </div>

  <div class="participants">
    <table class="table table-striped table-condensed">
      <tbody>
        <tr ng-repeat="participant in pairs">
          <th class="participant_name">{{participant[0]}}</th>
          <th><a href="#" ng-click="removeParticipant(participant[0])"><span class="glyphicon glyphicon-remove-circle"></span></a></th>

          <th ng-hide="participant[1] == undefined" class="participant_name">{{participant[1]}}</th>
          <th ng-hide="participant[1] == undefined"><a href="#" ng-click="removeParticipant(participant[1])"><span class="glyphicon glyphicon-remove-circle"></span></a></th>
        </tr>
        </tbody>
      </table>
  </div>
